nav {
  height: 100px;
  font-family: "Fira Sans";
}

.logoMenuDeNavegacion {
  padding-right: 500px;
  padding-left: 300px;
}

.carousel-item img {
  height: 700px;
}

.index__subtitle__container {
  background-color: rgb(202, 111, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.index__subtitle__container h2 {
  color: white;
  font-family: "Fira Sans";
}

.index__tituloMain__container {
  height: 200px;
  padding-left: 720px;
}
.index__tituloMain__container hr {
  width: 40%;
}

.index__main__titulo {
  color: black;
  font-family: "Fira Sans";
  padding-top: 150px;
  padding-left: 30px;
}

.index__main__nuestrosProductos-Container div img {
  height: 500px;
}

.card-title {
  font-family: "Fira Sans";
}

.card-text {
  font-family: "Fira Sans";
}

.index__nuestrasRedes__container {
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.index__nuestrasRedes__container a img {
  width: 60px;
  height: 60px;
}

.index__nosotros__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30rem;
  grid-template-areas: "index__nosotros__formulario index__nosotros__mapa";
  background-color: #d87218;
  margin-bottom: 0px;
}

.index__nosotros__formulario {
  margin-top: 150px;
}
.index__nosotros__formulario h3 {
  font-family: "Fira Sans";
  text-align: center;
}

.index__nosotros__mapa {
  grid-area: index__nosotros__mapa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__formulario {
  margin-left: 150px;
}

.btn-wsp {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.logoWhatsApp {
  width: 60px;
  height: 60px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 280px;
}

/*NOSOTROS*/
.nosotros__container {
  background-color: #ABB2B9;
}

.titulo__nosotros__container {
  margin-top: 0;
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-image: url(../img/maquinasConHiloNaranja.jpg);
}
.titulo__nosotros__container h1 {
  font-family: "Fira Sans";
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 120px;
  font-size: 90px;
}

.nosotros__atributos__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 18rem;
  margin-top: -150px;
  margin-left: 27rem;
  background-color: rgb(83, 81, 79);
  border-radius: 10px;
}
.nosotros__atributos__container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros__atributos__container div img {
  width: 100px;
  height: 100px;
}
.nosotros__atributos__container div h2 {
  color: white;
}

.nosotros__subtitulo__container {
  display: flex;
  justify-content: space-around;
  height: 10rem;
  align-items: center;
  text-align: center;
}
.nosotros__subtitulo__container h4 {
  color: white;
  width: 60%;
  padding-left: 80px;
  font-family: "Fira Sans";
}

.nosotros__descripcion__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nosotros__descripcion__1 nosotros__descripcion__2";
}

.nosotros__descripcion__1 {
  grid-area: nosotros__descripcion__1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nosotros__descripcion__1 p {
  width: 40%;
  text-align: center;
  font-family: "Fira Sans";
}

.nosotros__descripcion__2 {
  grid-area: nosotros__descripcion__2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.nosotros__descripcion__2 p {
  width: 40%;
  text-align: center;
  margin-left: -400px;
  font-family: "Fira Sans";
}

.nosotros__imagen__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nosotros__imagen__container iframe {
  width: 40%;
  height: 40rem;
  margin-top: 30px;
}

.nosotros__informacionGeneral {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 20rem;
}
.nosotros__informacionGeneral div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros__informacionGeneral div p {
  color: white;
  font-family: "Fira Sans";
}

/*CONTACTO*/
.contacto__titulo__container {
  background-image: url(../img/hilosBlancosFondoMadera.jpg);
  height: 20rem;
  background-size: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__titulo__container h1 {
  color: white;
  font-family: "Fira Sans";
  font-size: 90px;
}

.contacto__nuestroContacto__container {
  display: grid;
  grid-template-rows: 20rem 20rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "contacto__nuestroContacto__margenIzquierdo contacto__nuestroContactoMain__main contacto__nuestroContacto__margenDerecho" "contacto__nuestroContacto__margenIzquierdo contacto__nuestroContacto__mapa contacto__nuestroContacto__margenDerecho";
}
.contacto__nuestroContacto__container div img {
  width: 50px;
  height: 50px;
}
.contacto__nuestroContacto__container div h4 {
  margin-top: 10px;
}

.contacto__nuestroContactoMain__main {
  grid-area: contacto__nuestroContactoMain__main;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacto__nuestroContactoMain__main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto__nuestroContacto__telefono h4 {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
