nav{
    height:100px;
    font-family: "Fira Sans";
}

.logoMenuDeNavegacion{
    padding-right: 500px;
    padding-left: 300px;
}

.carousel-item img{
  height:700px;
}

.index__subtitle__container{
    background-color:rgb(202, 111, 30 );
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;
    h2{
        color:white;
        font-family: "Fira Sans";
    }
}



.index__tituloMain__container{
    height:200px;
    padding-left: 720px;
    hr{
        width:40%;
    }
}

.index__main__titulo{
    color:black;
    font-family: "Fira Sans";
    padding-top: 150px;
    padding-left:30px ;
}

.index__main__nuestrosProductos-Container div img{
    height:500px;
}

.card-title{
    font-family: "Fira Sans";
}

.card-text{
    font-family: "Fira Sans";
}

