nav{
    height:100px;
    font-family: "Fira Sans";
}

.logoMenuDeNavegacion{
    padding-right: 500px;
    padding-left: 300px;
}

.carousel-item img{
  height:700px;
}

.index__subtitle__container{
    background-color:rgb(202, 111, 30 );
    display: flex;
    justify-content:center;
    align-items:center;
    height:100px;
    h2{
        color:white;
        font-family: "Fira Sans";
    }
}



.index__tituloMain__container{
    height:200px;
    padding-left: 720px;
    hr{
        width:40%;
    }
}

.index__main__titulo{
    color:black;
    font-family: "Fira Sans";
    padding-top: 150px;
    padding-left:30px ;
}

.index__main__nuestrosProductos-Container div img{
    height:500px; 
    }


.card-title{
    font-family: "Fira Sans";

}

.card-text{
    font-family: "Fira Sans";
}

.index__nuestrasRedes__container{
    margin-top: 30px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.index__nuestrasRedes__container a img{
    width:60px;
    height: 60px;
}

.index__nosotros__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem;
    grid-template-areas: 
    "index__nosotros__formulario index__nosotros__mapa";
    background-color: #d87218;
    margin-bottom: 0px;
}

.index__nosotros__formulario{
    margin-top: 150px;
    h3{
        font-family: "Fira Sans";
        text-align: center;
    }
}

.index__nosotros__mapa{
    grid-area:index__nosotros__mapa;
    display:flex;
    justify-content: center;
    align-items: center;
}

.index__formulario{
    margin-left: 150px;
}

.btn-wsp{
    position: fixed;
    bottom: 30px;
    right:30px;
    
}

.logoWhatsApp{
    width: 60px;
    height:60px;
}

footer{
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:280px;
}